.templateThumbnail {
  width: 25%;
  aspect-ratio: 1 / 1;
  user-select: none;
  cursor: pointer;
}

.container {
  margin-top: var(--top-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.underBarInput {
  width: 30%;
  margin-bottom: 1rem;
  font-size: 100px;
}

.underBarInput > input {
  font-size: 15px;
}

.fileInput {
  display: none;
}

.selectedImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.textarea {
  position: absolute;
  top: 113px;
  left: 37px;
  background-color: inherit;
  border: none;
  width: 80%;
  height: 60%;
  overflow: hidden;
  resize: none;
  outline: none;
}
