:root {
  /*color*/
  --orange-color: #f0842c;
  --gray-color: #d9d9d9;
  --background-color: #efe9db;

  /*font*/
  --pretendard-regular: 'Pretendard-Regular';
  --pretendard-bold: 'Pretendard-Bold';
  --pretendard-semiBold: 'Pretendard-SemiBold';
  --pretendard-light: 'Pretendard-Light';

  /*position*/
  --image-x: 0px;
  --image-y: 155px;
  --button-x: 828px;
  --button-y: 788px;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../assets/fonts/Pretendard-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../assets/fonts/Pretendard-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../assets/fonts/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('../assets/fonts/Pretendard-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../assets/fonts/Pretendard-Medium.otf') format('opentype');
}

.main-container {
  margin: 0 auto;
  background-color: var(--background-color);
  max-width: 400px;
  min-height: 100vh;
}

body {
  margin: 0px;
  /* overflow-x: hidden; */
}

/* NotFound.jsx */
.image-container {
  position: relative;
  left: var(--image-x);
  top: var(--image-y);
}

.home-link {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  border: 1px solid black;
  font-size: 18px;
  bottom: 10vh;
  width: 100%;
  z-index: -99;

  /* left: var(--button-x); */
  /* top: var(--button-y); */
}

.home-link > a {
  text-decoration: none;
}
