.signMainBox {
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bigbox {
  margin: 20px;
}

.signMainBox > div {
  margin: 20px;
}

.fields {
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 3px;
}

.fieldsBox {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  width: 100%;
}

.fieldsInput {
  text-align: center;
  width: 70%;
  height: 20px;
  padding: 4px;
  margin-bottom: 10px;
  font-size: 12px;
}

.fieldsInput::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.pwfont {
  color: red;
  font-size: 10px;
}

.emailCheckBox {
  display: flex;
  justify-content: space-between;
}

.emailCheckBox :nth-child(2) {
  margin-right: 10px;
}

.emailCheckBut {
  width: 20%;
  height: 28px;
  font-size: 12px;
  background-color: var(--orange-color);
  cursor: pointer;
}

.borderRadius {
  border-radius: 4px;
  border: none;
}

.checkboxText {
  font-size: 7px;
}

.checkboxlabel {
  vertical-align: 4px;
  cursor: pointer;
}

.checkBoxDiv > div {
  font-size: 12px;
}

.checkBoxDiv {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.isPrivacyPolicyAccepted,
.isTermsAccepted {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signUpBut {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--orange-color);
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

/* 전체 요소에 드래그 방지 적용 */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
