/* Modal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  border-radius: 8px;
  position: relative;
  user-select: none;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: none;
  font-size: 40px;
  cursor: pointer;
}

.closeButton:hover {
  color: rgb(95, 93, 93);
}

.selectedImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.logoImage {
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.block {
  width: 40%;
  height: 7%;
  background-color: transparent;
  position: absolute;
  top: 515px;
  right: 50px;
  text-align: center;
  color: var(--black-color);
  font-family: var(--pretendard-regular);
  font-size: var(--font-size-medium);
  border: none;
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 5px;
}

.fromText {
  height: 100%;
  width: 100%;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fromText:focus {
  text-overflow: ellipsis; /* 텍스트 잘림 효과 */
  white-space: normal; /* 텍스트 줄바꿈 허용 */
  overflow-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
  word-break: break-word; /* 단어를 강제로 줄바꿈 */
}

.textareaWrapper {
  position: absolute;
  top: 200px;
  left: 45px;
  width: 85%;
  height: 54%;
  resize: none;
  overflow: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  border: none;
  background: transparent;
  font-size: var(--font-size-medium);
  font-family: var(--pretendard-regular);
  padding: 10px;
  box-sizing: border-box;
  outline: none; /* 포커스 시 외곽선 숨김 */

  /* 스크롤 바 숨기기 */
  scrollbar-width: none; /* Firefox */
}

.textareaWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* 텍스트 선택 및 드래그 방지 */
.textareaWrapper {
  user-select: none;
  pointer-events: auto; /* 클릭은 가능해야 스크롤 가능 */
}
