/* createButton.module.css */

.buttonBasic {
  background-color: var(--orange-color);
  color: #000000;
  border: none;
  padding: 2.5% 5%;
  cursor: pointer;
  width: 95.25%;
  height: 72px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font: var(--pretendard-regular);
}

.buttonBasic:hover {
  background-color: #d87728;
}
