.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f1e7;
  font-family: var(--pretendard-semiBold);
  gap: 20%;
}

.inputContainer {
  width: 80%;
}

.inputContainer > p {
  text-align: center;
  width: 100%;
  margin: 0 auto 15px;
}
.inputContainer > input:focus {
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  border: var(--orange-color), 1px, solid;
  outline: none;
}

.errContainer {
  text-align: center;
  margin-top: 3%;
}

.whenPtag {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.dateInput {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: x-large;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.dateInput:focus {
  border-color: var(--orange-color);
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  outline: none;
}

/* 웹킷 브라우저의 달력 아이콘 커스터마이징
.dateInput::-webkit-calendar-picker-indicator {
  filter: invert(50%);
} */

/* 날짜 입력 컨테이너 */
.dateInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
